body{
    text-align: center;
    color: #463F3A;
}

#header{
    position: absolute;
    background-color: #E0AFA0;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
}

#main{
}

#left_bar{
    position: absolute;
    background-color: #BCB8B1;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 20%;
}

#m_source{
    position: absolute;
    background-color: #F4F3EE;
    top: 100px;
    right: 0;
    bottom: 0;
    width: 80%;
}