.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 100px 50px 300px 1fr 100px;
    grid-gap: 0;
    height: 150vh;
    grid-template-areas: 
    "header header"
    "menu_bar menu_bar"
    "banner banner"
    "side main"
    "footer footer";
}

.header{
    background-color: #E0AFA0;
    grid-area: header;
}
.menu_bar{
    background-color: #cab09a;
    grid-area: menu_bar;
}
.banner{
    background-color: #a8968c;
    grid-area: banner;
}
.side{
    background-color: #8A817C;
    grid-area: side;
}
.main{
    background-color: #F4F3EE;
    grid-area: main;
}
.footer{
    background-color: #BCB8B1;
    grid-area: footer;
}